*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;  
  background-color: rgb(3, 0, 12);
  font-size: 12px;
}

.frame {
  width: 100vw;
  height: auto;
}

.title {
  color: rgb(68, 0, 255);
  background-color: rgb(14, 0, 51);
  padding: 10px 20px;
  height: auto;
  font-size: 14
  px;
}

.subTitle {
  color: rgb(99, 77, 160);
  border-bottom: 1px rgb(15, 4, 44) solid;
  height: 36px;
}

  
.subTitLeft{
  width: 180px;
  float: left;
  padding: 10px 0px 10px 20px;
  height: 36px;
}

.subTitRight{
  width: 180px;
  float: right;
  padding: 10px 0px 10px 20px;
  height: 36px;
}  

#gyro_p, #gyro_r, #gyro_y{
  width: 125px;
  float: right;
  padding: 10px 0px 10px 20px;
}

#wrn_ico{
  width: 60px;
  float: left;
  padding: 10px 20px 10px 20px;
}
#wrn_msg{
  width: 250px;
  float: left;
  padding: 10px;
}

#nav_inst{
  text-align: center;
  color: white;
  background-color: green;
}